<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Roles - Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
    <%- include("../layouts/header.ejs") -%>
</head>
<body>

  <!-- ======= Header ======= -->
  <%- include("../layouts/nav.ejs") -%>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <%- include("../layouts/sidebar.ejs") -%>
  <!-- End Sidebar-->


   <!-- ======= Content ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>All Roles</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">roles</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Roles List</h5>
  
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% data.forEach(function(item,key) { %>
                    <tr>
                      <th scope="row"><%= key + 1  %></th>
                      <td><%= item.name  %></td>
                      <td scope="col">
                        <a href="/admin/roles/edit/<%=item.id%>" class="text-success">Edit</a> |
                        <a href="/admin/roles/delete/<%=item.id%>" class="text-danger" >Delete</a>
                    </td>
                    </tr>
                    <% }); %> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
   <!-- ======= Content ======= -->


  <!-- ======= Footer ======= -->
  <%- include("../layouts/footer.ejs") -%>
  <!-- End Footer -->
 
  <!-- ======= Scripts ======= -->
  <%- include("../layouts/scripts.ejs") -%>
  <!-- ======= Scripts ======= -->

</body>
</html>